/*Reseteo y borrado de margenes/padding*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Estilos del body*/
body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #121212;
    display: flex;
    flex-direction: column;
}

.backgroundStyles{
    background-size: cover;
    background-repeat: no-repeat;
    background-color:#121212e7;
    background-blend-mode: multiply;
}

/*Estilos de header*/
header{
    background: #121212e7;  
}

/*Estilos del nav*/
.navMenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 8px 0px;
    margin: 5px 20px;  
}

.mainLogo{
    width: 170px;
}

.paginaActual:link{
    color: #D53C13;
}
.paginaActual:visited{
    color: #D53C13;
}

.navList{
    display: flex;
}

.navList li{
    list-style: none;
    margin: 0 10px;
}

.navList li a{
    text-decoration: none;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.navList li a:hover{
    color: #506F7B;
}

.navList li a:active{
    color: #445f69;
}

.navEntradas{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.01em;
    color: #D51313;
}

.navEntradas:hover{
    color: #9b0000;
}

.navEntradas:active{
    color: #810000;
}

/*Estilos del main*/
main{
    width: 100%;
}

.tituloPag{
    padding: 15px;
    letter-spacing: 2.5px;
}

/*Estilos del footer*/
footer {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: end;
    background: #1D1D1D;
    display: flex;
    justify-content: end;
    width: 100%;
}

#gridFooter {
    display: grid;
    grid-template-rows: 1fr;
    width: 200px;
    margin: 5px 10px;
}

.rubik {
    font-weight: bold;
    color: #17AA98;
    justify-self: flex-start;
}