/*Reseteo y borrado de margenes/padding*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* clases generales */
.amarillo {
    color: #D58713;
}

.rojo {
    color: #D51313;
}

.naranja {
    color: #D53C13
}

.gris {
    color: #506F7B;
}

.container {
    width: 1200px;
    padding: 50px 45px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

/* botones */

button{
    font-size: 1rem;
    border: none;
    display: block;
    font-weight: 600;
    border-radius: 5px;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 12px 22px;
}

button a{
    text-decoration: none;
    color: #FFFFFF;
}

/* encabezados */

h1{
    font-size: 22px;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 18px;
}

/*Estilos del body*/
body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background-color: #121212;
    color: #FFFFFF;    
}

/*Estilos del nav*/
.navMenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background: #1D1D1D;  
    padding: 8px 20px;
    margin-bottom: 5px;  
}

.mainLogo{
    width: 170px;
}

.paginaActual:link{
    color: #D53C13;
}

.paginaActual:visited{
    color: #D53C13;
}

.navList{
    display: flex;
}

.navList li{
    list-style: none;
    margin: 0 10px;
}

.navList li a{
    text-decoration: none;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.navList li a:hover{
    color: #506F7B;
}

.navList li a:active{
    color: #445f69;
}

.navEntradas{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.01em;
    color: #D51313;
}

.navEntradas:hover{
    color: #9b0000;
}

.navEntradas:active{
    color: #810000;
}

/*Estilos del main*/
main{
    width: 95%;    
    margin: 20px auto;
}

.tituloPag{
    padding: 15px;
    letter-spacing: 2.5px;
}

/*Estilos del footer*/
footer {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: end;
    background: #1D1D1D;
    display: flex;
    justify-content: end;
    width: 100%;
    height: 50px;
}

#gridFooter {
    display: grid;
    grid-template-rows: 1fr;
    width: 200px;
    margin: 5px 10px;
}

.rubik {
    font-weight: bold;
    color: #17AA98;
    justify-self: flex-start;
}