main {
    margin-top: 0;
    display: grid;
    grid-template-rows: repeat(4, auto);
    gap: 100px;
    justify-content: center;
}

main section:nth-child(2){
    justify-self: end;
}

.datosEvento > *{
    margin-bottom: 25px;
}

section span {
    display: block;
    height: 0;
}

.verMas {
    background-color: rgba(213, 60, 19, 0.88);
}

.entradas {
    background-color: rgba(80, 111, 123, 0.8);
}