/*Utilidades*/
.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.justify-space-between{
    justify-content: space-between;
}
/*--------------------------*/

header{
    background: #121212e7;
}

.navMenu{
    height: 70px;
    width: 1200px;
    padding: 8px 0px;
    justify-content: space-between;
    margin: 0 auto;
    
}

.mainLogo{
    height: 100%;
    width: 170px;
    margin-right: 90px;
    padding-bottom: 10px;
}

.navList li{
    list-style: none;
    margin: 0 10px;
}

.navList li a{
    text-decoration: none;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;

}

.navList li a:hover{
    color: #506F7B;
}
.navList li a:active{
    color: #445f69;
}


.navEntradas{
    text-decoration: none;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.01em;
    color: #D51313;
    margin-left: auto;
}

.navEntradas:hover{
    color: #9b0000;
}

.navEntradas:active{
    color: #810000;
}
